* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 1rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
    color: black;
}

ul {
    padding: 1rem;
}

li {
    margin: 1vh 0;
}